<body>
  
  <div class="allbuttons">

    <button class="profile" [routerLink]="['/profile']" routerLinkActive="active"> <span>PROFILE </span></button> 

    <button class="inq" [routerLink]="['/inquiry']" routerLinkActive="active"> <span> INQUIRY DATA </span></button> 

    <button class="sod" [routerLink]="['/sales-order-data']" routerLinkActive="active"> <span> SALES ORDER DATA </span></button>

    <button class="lod" [routerLink]="['/list-of-delivery']" routerLinkActive="active"> <span> LIST OF DELIVERY</span></button>

    <br>

    <button class="invoice" [routerLink]="['/invoice']" routerLinkActive="active"> <span>INVOICE </span></button> 

    <button class="pay" [routerLink]="['/payage']" routerLinkActive="active"> <span>PAYMENT & AGING DETAILS</span></button> 

    <button class="cd" [routerLink]="['/credit-debit']" routerLinkActive="active"> <span>CREDIT & DEBIT MEMO</span></button> 

  </div>

</body>